*.o
*.su
*.cmd
*.o.cmd


.config
System.map
arch/arm/include/asm/arch
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
board/freescale/mx6sabresd/mx6qp.cfg.cfgtmp
examples/standalone/hello_world
examples/standalone/hello_world.bin
examples/standalone/hello_world.srec
include/autoconf.mk
include/autoconf.mk.dep
include/back/
include/bmp_logo.h
include/bmp_logo_data.h
include/config.h
include/config/
include/generated/
lib/asm-offsets.s
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
tools/bmp_logo
tools/common/
tools/dumpimage
tools/gen_eth_addr
tools/img2srec
tools/lib/
tools/logos/robot.bmp
tools/mkenvimage
tools/mkimage
tools/proftool
u-boot
u-boot.bin
u-boot.imx
u-boot.lds
u-boot.map
u-boot.srec

